body {
    background-color: #59CD90;
    color: #3FA7D6;
    font-family: 'Gugi', cursive;
  }
  
  form {
    line-height: 25px;
  }
  
  h1 {
    font-size: 4em;
    overflow: break;
    margin-top: 0;
  }
  
  .overlay {
    width: 80%;
    height: 30vh;
    min-width: 30%;
    margin: 10vh auto;
    display: block;
    padding: 10vh 2%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    text-align: center;
    overflow: auto;
  }
  
  @media only screen and (max-width: 440px) {
    h1 {
      font-size: 2em;
    }
  }  