body{
    display: flex;
    align-items: center;
}

.container{
    margin: auto;
    width: 300px;
    min-height: 400px;
    background-color: lightcyan;
    box-shadow: 0 0 20px 0 lightcyan;
    border-radius: 20px;
}

.clock{
    padding: 1px 0;
    text-align: center;
}

.form{
    display: none;
}

.greetings{
    text-align: center;
    display: none;
}

.showing {
    display: block;
}

.btn {
    display: none;
}

.margin1 {
    margin-left: 10px;
}

.margin2 {
    margin-left: 110px;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}
